body {
  margin-left: 0;
  padding: 0;
}
main {
  background: url('../img/yoga-project.png') center/contain no-repeat;
  height: 100vh;
}
main,
nav {
  width: 100%;
  display: inline-block;
}
nav {
  width: 90%;
}
.logo-link {
  width: fit-content;
  float: left;
  margin-left: 7%;
}
nav ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 15px 0;
  padding: 15px 0;
  float: right;
}
li {
  padding: 0 5px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.side-text {
  float: left;
  margin-left: 8%;
  margin-top: 10%;
}
.side-text p,
h2 {
  width: 37%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
span {
  color: #db3911;
}
p {
  font-size: 16px;
}
.btn {
  border: 1px solid #db3911;
  background-color: #db3911;
  padding: 5px 16px;
  border-radius: 4px;
  margin-top: 25px;
  width: fit-content;
}
.btn a {
  color: white;
}
.active {
  border-bottom: 2px solid #db3911;
}
@media screen and (max-width: 850px) {
  nav ul {
    width: 92%;
  }
}
@media screen and (max-width: 800px) {
  h2 {
    width: 100%;
    margin-top: -20px;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    margin-top: -30px;
  }
  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  main {
    background-position: 0 20%;
  }
}
@media screen and (max-width: 450px) {
  main {
    background-position: 0 45%;
  }
  .side-text {
    width: 110%;
  }
}
